section#about
    .about_tile
        h2 О себе
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis placeat cupiditate obcaecati quod? Cum adipisci commodi quas, cumque debitis impedit repellendus nesciunt minus autem, inventore consequuntur corporis quod voluptatum! Minima.