section#about
    .about_wrap
        .about_wrap_container
            .about_container
                .about_content_text
                    h2 О СЕБЕ
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis placeat cupiditate obcaecati quod? Cum adipisci commodi quas, cumque debitis impedit repellendus nesciunt minus autem, inventore consequuntur corporis quod voluptatum! Minima
                    a Контакты
                .about_content_image
                    img(src="images/about/about_foto.jpg", alt="my foto")
    .about_border
        h2 ПОРТФОЛИО