section#blog
    h2 Мой блог
    .blog_container
        .blog_wrap  
            .blog_item
                .blog_box
                .blog_content
                    .blog_title
                        h3 BLOG title
                        p date
                    .blog_image
                        img(src="images/blog/adaptive.jpg", alt="blog_image")
                    .blog_text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nulla corrupti deserunt quidem autem harum incidunt, labore mollitia enim porro omnis dolor, laudantium id perspiciatis nostrum ipsum quis velit dolorem.
                        .blog_text_tags
                            p tegs,tegs,tegs,tegs,tegs,tegs
            .blog_item
                .blog_box
                .blog_content
                    .blog_title
                        h3 BLOG title
                        p date
                    .blog_image
                        img(src="images/blog/wp.jpg", alt="blog_image")
                    .blog_text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nulla corrupti deserunt quidem autem harum incidunt, labore mollitia enim porro omnis dolor, laudantium id perspiciatis nostrum ipsum quis velit dolorem.
                        .blog_text_tags
                            p tegs,tegs,tegs,tegs,tegs,tegs
        .blog_nav 
            h3 Полезное