section#blog
    .blog_container
        .blog_wrap  
            .blog_item
                .blog_box
                .blog_content
                    .blog_title
                        h3 Адаптивный сайт
                        p 20/03/1986
                    .blog_image
                        img(src="images/blog/adaptive.jpg", alt="blog_image")
                    .blog_text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nulla corrupti deserunt quidem autem harum incidunt, labore mollitia enim porro omnis dolor, laudantium id perspiciatis nostrum ipsum quis velit dolorem.
                        .blog_text_tags
                            p Адаптивный сайт,  Резиновая верстка,  Отзывчивый дизайн сайта,  Responsive
                            a(href="#") Читать
            .blog_item
                .blog_box
                .blog_content
                    .blog_title
                        h3 BLOG title
                        p date
                    .blog_image
                        img(src="images/blog/WP.jpg", alt="blog_image")
                    .blog_text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nulla corrupti deserunt quidem autem harum incidunt, labore mollitia enim porro omnis dolor, laudantium id perspiciatis nostrum ipsum quis velit dolorem.
                        .blog_text_tags
                            p tegs,tegs,tegs,tegs,tegs
                            a(href="#") Читать
        .blog_nav 
            h2 Полезно знать
            ul 
                li 
                    a(href="#") Адаптивный сайт
                li 
                    a(href="#") Wordpress - Плюсы и минусы