section#footer
    .logo
        h1 WEB-HUNTERS.COM
    .contacts
        a(href="tel:+") 096 387 17 07
        a(href="tel:+") 096 387 17 07
        a(href="mailto:") info@web-hunters.com
    .menu   
        a(href="#") О себе
        a(href="#") Потрфолио
        a(href="#") Блог
    .copy
        p copyright 2019 web-hunters.com