section#hero
    .hero_box
    .hero_content
        h1 WEB-HUNTERS.COM
        h2 Разработка и поддержка веб-сайтов
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus voluptate excepturi eum quaerat nemo porro voluptatum error dolorum sunt, amet, fugit earum vitae aut hic repellat. Voluptatem, eligendi ratione.
        button send