section#hero
    .hero_wrap
        .hero_box
        .hero_content
            h2 Разработка и поддержка веб-сайтов
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus voluptate excepturi eum quaerat nemo porro voluptatum error dolorum sunt, amet, fugit earum vitae aut hic repellat. Voluptatem, eligendi ratione.
            button send
        //.hero_about
            .about_container
                .about_content_text
                    h2 О СЕБЕ
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis placeat cupiditate obcaecati quod? Cum adipisci commodi quas, cumque debitis impedit repellendus nesciunt minus autem, inventore consequuntur corporis quod voluptatum! Minima
                    button contact
                .about_content_image
                    img(src="images/about/about_foto.jpg", alt="my foto")
    