<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title Document
    body
        include menu_2019-1.pug
        main
            include hero_2019-1.pug
            include portfolio_2019-1.pug
        
        script(src="js/lib/jquery.min.js")
        script(src="js/menu_2019-1.js")
        script(src="js/hero_2019-1.js")
        