header
    nav
        .top_nav
            ul
                li  
                    a(href="#") +38 (093) 387 17 07
                li  
                    a(href="#") +38 (096) 387 17 07
                li  
                    a(href="#") 
                        img(src="images/nav/teleg.png", alt="social")
                li  
                    a(href="#") 
                        img(src="images/nav/viber.png", alt="social")
                li  
                    a(href="#") 
                        img(src="images/nav/whatsapp.png", alt="social")
        .main_menu
            h1 WEB-HUNTERS.COM
            ul.PC_nav
                li 
                    a(href="#") Главная
                li 
                    a(href="#") О мне
                li 
                    a(href="about.html") Партфолио 
                li 
                    a(href="projects.html") Блог
            .contacts
                    a(href="#") Контакты
        // mobile
        .toggle
            span
            span
            span
        .mobile_navi
            ul
                li 
                    a(href="#") Главная
                li 
                    a(href="#") О мне
                li 
                    a(href="#") Партфолио
                li 
                    a(href="#") Блог
                li 
                    a(href="#") Контакты