header
    .top_nav
        ul
            li  
                a(href="#") +38 (093) 387 17 07
            li  
                a(href="#") +38 (096) 387 17 07
            li  
                a(href="#") 
                    img(src="images/nav/teleg.png", alt="social")
            li  
                a(href="#") 
                    img(src="images/nav/viber.png", alt="social")
            li  
                a(href="#") 
                    img(src="images/nav/whatsapp.png", alt="social")
    nav
        //.logo 
            a(href="#")
                img(src="images/nav/logo.png", alt="logo")
        // pc nav
        h1 WEB-HUNTERS.COM
        ul.PC_nav
            li 
                a(href="#") Главная
            li 
                a(href="#") О мне
            li 
                a(href="about.html") Партфолио 
            li 
                a(href="projects.html") Блог
        .contacts
            a(href="#") contacts item
        // mobile nav
        .toggle
            .mobile_navi
                .close_toggle
                .mobile_navi_inner
                    a(href="#") Главная
                    a(href="#") menu item
                    a(href="#") menu item
                    a(href="about.html") О нас
                    a(href="projects.html") Нашы работы
            span
            span
            span