section#portfolio  
    h2 ПОРТФОЛИО    
    .portfolio_box_wrap
        .portfolio_box.portfolio_box_active
            img(src="images/partfolio/garderob/garderob_prew.jpg", alt="portfolio_prew")
            .portfolio_box_inner
        .portfolio_box
            img(src="images/partfolio/hippo/hippo_prew.jpg", alt="portfolio_prew")
            .portfolio_box_inner
        .portfolio_box
            img(src="images/partfolio/sirena/sirena_prew.jpg", alt="portfolio_prew")
            .portfolio_box_inner
        .portfolio_box
            img(src="images/partfolio/turbochist/turbochist_prew.jpg", alt="portfolio_prew")
            .portfolio_box_inner
        .portfolio_box
            img(src="images/partfolio/web-hunters/wbh_prew.jpg", alt="portfolio_prew")
            .portfolio_box_inner
        .portfolio_box
            img(src="images/partfolio/bosplus/bosplus_prew.jpg", alt="portfolio_prew")
            .portfolio_box_inner