section#portfolio  
    h2 ПОРТФОЛИО    
    .portfolio_box_wrap
        .portfolio_box.portfolio_box_active
            img(src="images/partfolio/garderob/garderob_prew.jpg", alt="portfolio_prew")
            a(href="#").portfolio_box_inner
                img(src="images/partfolio/plus/binoculars.svg", alt="loop")
                p Garderob.kiev.ua
        .portfolio_box
            img(src="images/partfolio/hippo/hippo_prew.jpg", alt="portfolio_prew")
            a(href="#").portfolio_box_inner
                img(src="images/partfolio/plus/binoculars.svg", alt="loop")
                p hippo.in.ua
        .portfolio_box
            img(src="images/partfolio/sirena/sirena_prew.jpg", alt="portfolio_prew")
            a(href="#").portfolio_box_inner
                img(src="images/partfolio/plus/binoculars.svg", alt="loop")
                p sirena.ua
        .portfolio_box
            img(src="images/partfolio/turbochist/turbochist_prew.jpg", alt="portfolio_prew")
            a(href="#").portfolio_box_inner
                img(src="images/partfolio/plus/binoculars.svg", alt="loop")
                p turbochist.ua
        .portfolio_box
            img(src="images/partfolio/web-hunters/wbh_prew.jpg", alt="portfolio_prew")
            a(href="#").portfolio_box_inner
                img(src="images/partfolio/plus/binoculars.svg", alt="loop")
                p web-hunters.com
        .portfolio_box
            img(src="images/partfolio/bosplus/bosplus_prew.jpg", alt="portfolio_prew")
            a(href="#").portfolio_box_inner
                img(src="images/partfolio/plus/binoculars.svg", alt="loop")
                p bosplus.ua