section#portfolio   
    .portfolio_container
        h2 Портфолио
        .portfolio_box_wrap
            .portfolio_box
                img(src="images/partfolio/garderob/garderob_prow.jpg", alt="portfolio_prew")
            .portfolio_box
                img(src="images/partfolio/hippo/hippo_prew.jpg", alt="portfolio_prew")
            .portfolio_box
                img(src="images/partfolio/sirena/sirena_prew.jpg", alt="portfolio_prew")
            .portfolio_box
                img(src="images/partfolio/turbochist/turbochist_prew.jpg", alt="portfolio_prew")
            .portfolio_box
                img(src="images/partfolio/web-hunters/wbh_prew.jpg", alt="portfolio_prew")
            .portfolio_box
                img(src="images/partfolio/bosplus/bosplus_prew.jpg", alt="portfolio_prew")