#about {
    position: absolute;
    top: 100vw;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 991px) {
        top: 40vw;
    }
    .about_wrap {
        margin: 0 10px;
        height: 60vw;
        @media screen and (min-width: 991px) {
            border-left: 3px rgb(235, 236, 241) solid;
        }
        .about_container {
            background: #fff; 
            border-radius: 20px; 
            @media screen and (min-width: 991px) {
                width: 800px;
                margin: 100px auto;
            }
            .about_content {
                @media screen and (min-width: 991px) {
                    display: flex;
                }
                .about_content_text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 2vw;
                    h2 {
                        color: #0000ee69;
                        padding: 1vw 2vw 0 2vw;
                    } 
                }
                .about_content_image {
                    padding: 2vw;
                    img {
                        width: 100%;
                    }
                }
            }        
        }
    }
}