#about {
    background: #fff;
    @media screen and (min-width: 991px) {
        background: #7878e3d4;
    }
    .about_border {
        position: relative;
        top: -10vw;
        margin-bottom: -10vw;
        display: block;
        height: 10vw;
        width: 100%;
        background: rgb(235, 236, 241);
    }
    .about_wrap {
        @media screen and (min-width: 991px) {
            position: relative;
            top: -10vw;
            background: transparent;
            margin: 0 50px;
            border-left: 3px rgb(235, 236, 241) solid;
        }
        .about_wrap_container {
            padding: 5vw 0;
            .about_container {
                display: flex;
                flex-flow: row wrap;
                background: #fff;
                border-radius: 20px; 
                padding: 2vw 0;
                margin: 0 auto;
                width: 90vw;
                max-width: 700px;
                @media screen and (min-width: 991px) {
                    justify-content: space-around;
                }
                .about_content_text {
                    @media screen and (min-width: 991px) {
                        width: 300px;
                    }
                    h2,p {
                        padding: 3vh 0;
                        text-align: justify;
                    }
                }
                .about_content_image {
                    @media screen and (max-width: 990px) {
                        width: 100%;
                        text-align: center;
                        padding: 5vw 0;
                    }
                    img {
                        width: 100%;
                        max-width: 300px;
                    }
                }
            }
        }
    }
}
/*#about {
    position: absolute;
    top: 100vw;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 991px) {
        top: 40vw;
    }
    .about_wrap {
        margin: 0 10px;
        height: 60vw;
        @media screen and (min-width: 991px) {
            border-left: 3px rgb(235, 236, 241) solid;
        }
        .about_container {
            background: #fff; 
            border-radius: 20px; 
            @media screen and (min-width: 991px) {
                width: 800px;
                margin: 100px auto;
            }
            .about_content {
                @media screen and (min-width: 991px) {
                    display: flex;
                }
                .about_content_text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 2vw;
                    h2 {
                        color: #0000ee69;
                        padding: 1vw 2vw 0 2vw;
                    } 
                }
                .about_content_image {
                    padding: 2vw;
                    img {
                        width: 100%;
                    }
                }
            }        
        }
    }
}*/