#footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr auto;
    background: #7878e3;
    padding-top: 3rem;
    @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr auto auto;
    }
    @media screen and (min-width: 991px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr auto;
    }
    .logo {
        display: flex;
        justify-content: center;
        h1 {
            display: flex;
            align-items: center;
            font-size: 130%;
            padding: 2vw 4vw;
            border-radius: 20px;
            background: #fff;
            font-family: 'Cuprum', sans-serif;
            color: #7878e3d4;
            width: max-content;
            max-width: 300px;
            height: 60px;
            z-index: 10;
            @media screen and (min-width: 991px) {
                font-size: 2vw;
                padding: .5vw 1.5vw;
                max-width: unset;
                margin: 0;
            }
        }
    }
    a {
        font-family: 'Cuprum', sans-serif;
        text-decoration: none;
        color: #fff;
        padding: 7px;
        font-size: 1.8rem;
    }
    .contacts,.menu {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding-bottom: 2rem;
    }
    .contacts {
        .massengers {
            padding: .5em;
            a img {
                width: 1.2em;
            }
        }
        @media screen and (min-width: 600px) {
            grid-row: 1/3;
            grid-column: 2/3;
        }
    }
    .menu {
        min-width: 200px;
    }
    .copy {
        text-align: center;
        width: 100%;
        padding: 5px;
        background: black;
        color: #fff;
        @media screen and (min-width: 600px) {
            grid-column: 1/3;
            grid-row: 4;
        }
        @media screen and (min-width: 991px) {
            grid-column: 1/4;
        }
    }
}