#hero {
    display: flex;
    align-items: flex-start;
    background: #0000ee69;
    height: 200vh;
    min-height: 600px;
    .hero_box {
        position: relative;
        top: 0;
        background: white;
        border-radius: 0 0 5px 0;
        padding-top: 400px;
        &:after {
            position: absolute;
            top: -5px;
            width: 0;
	        height: 0;
	        border-top: 40vw solid white; 
            border-right: 40vw solid transparent;	
            border-radius: 0 5px 0 0;
            content: '';
        }
        .hero_content {
            width: 40vw;
            min-width: 320px;
            padding: 0 5vw 0 10vw;
            h1,h2,p {
                color: #151D51;
            }
            h1 {
    
            }
            h2 {
    
            }
            p {
                padding: 2vw 0;
            }
            button {
                background: red;
                color: white;
                padding: .3vw 2vw;
                border-radius: 5px;
            }
        }
    }
}