#hero {
    .hero_wrap {
        position: relative;
        display: flex;
        background-color: #7878e3d4;
        min-height: 80vh;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 991px) {
            min-height: 50vw;
        }
        .hero_box {
            @media screen and (min-width: 991px) {
                position: absolute;
                background-color: #fff;
                top: calc( -40vw );
                left: calc( -40vw + 50px );;
                width: 80vw;
                height: 80vw;
                border: 30vw rgb(235, 236, 241) solid;
                border-radius: 50%;  
            }
        }
        .hero_content {
            width: 90vw;
            max-width: 700px;
            @media screen and (min-width: 991px) {
                width: 40vw;
                padding-left: 15vw;
            }
            h2,p {
                color: #fff;
                padding-bottom: 2rem;   
            }
            p {
                text-align: justify;
            }
        }
    }
}