header
    nav {
        // PC
        .top_nav {
            display: none;
            @media screen and (min-width: 991px) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: #7878e3d4;
                border-bottom: 3px rgb(235, 236, 241) solid;
                ul {
                    display: flex;
                    justify-content: space-around; 
                    list-style: none;
                    width: 500px;
                    li {
                        display: flex;
                        align-items: center;
                        a {
                            text-decoration: none;
                            color: #fff;
                            img {
                                height: 50px;
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }
        }
        .main_menu {
            display: flex;
            justify-content: flex-start;
            background: #7878e3d4;
            min-height: 70px;
            @media screen and (min-width: 991px) {
                justify-content: flex-end;
            }
            .PC_nav {
                display: none;
                @media screen and (min-width: 991px) {
                    display: flex;
                    justify-content: space-around;
                    width: 400px;
                    list-style: none;
                    height: 50px;
                    li a {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        text-decoration: none;
                        color: #fff;
                        font-size: 18px;
                    }
                }
            }
            .contacts a {
                display: none;
                @media screen and (min-width: 991px) {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    text-decoration: none;
                    color: #fff;
                    font-size: 15px;
                    padding: 0 20px;
                }
            }
            h1 {
                display: flex;
                align-items: center;
                font-size: 130%;
                padding: 2vw 4vw;
                margin: 5px 4vw;
                border-radius: 20px;
                background: #fff;
                font-family: 'Cuprum', sans-serif;
                color: #7878e3d4;
                max-width: 300px;
                height: 60px;
                z-index: 10;
                @media screen and (min-width: 991px) {
                    font-size: 2vw;
                    position: absolute;
                    left: 18vw;
                    padding: .5vw 1.5vw;
                    max-width: unset;
                    margin: 0;
                }
            }
        }
        // mobile
        .toggle {
            position: fixed;
            top: 0;
            right: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            width: 60px;
            height: 60px;
            padding: 15px;
            margin: 5px;
            transition: all 600ms;
            background: #7878e3d4;
            border: 1px #fff solid;
            border-radius: 5px;
            cursor: pointer;
            z-index: 20;
            span {
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
                transition: all 300ms;
            }
            @media screen and (min-width: 991px) {
                display: none;
            }
        }
        .mobile_navi {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            position: fixed;
            top: 0;
            left: 100vw;
            width: 100vw;
            height: 100vh;
            padding: 10vmax;
            background: white;
            z-index: 15;
            transition: all 500ms;
            @media screen and (min-width: 991px) {
                display: none;
            }
            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;
                li {
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    border-radius: 20px;
                    font-family: 'Cuprum', sans-serif;
                    background: #7878e3d4;
                    a {
                        font-family: 'Cuprum', sans-serif;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 130%;
                        color: #fff;
                        padding: 2vw 4vw;
                    }
                }
            }
        }
        .mobile_navi_active {
            left: 0;
        }
    }