#portfolio {
    //position: relative;
    //top: -10vw;
    background: rgb(235, 236, 241);
    .portfolio_container {
        display: flex;
        flex-flow: column nowrap;
        padding: 50px 0;
        width: 100vw;
        h2 {
            padding: 4vw 6vw 2vw 6vw;
        }
        .portfolio_box_wrap {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .portfolio_box {
                img {
                    width: 100%;
                    max-width: 450px;
                }
            }
        }
    }
}