#portfolio {
    background: rgb(235, 236, 241);
    display: flex;
        flex-flow: column nowrap;
        width: 100vw;
        padding-bottom: 5vw;
        h2 {
            padding: 0 6vw;
        }
        .portfolio_box_wrap {
            display: grid;
            grid-template-columns: 1fr;
            @media screen and (min-width: 600px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (min-width: 991px) {
                grid-template-columns: repeat(3, 1fr);
            }
            .portfolio_box {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
}