#portfolio {
    @media screen and (min-width: 991px) {
    position: absolute;
    background: rgb(235, 236, 241);
    width: 100%;
    min-height: 1000px;
    margin-top: 10vw;
    padding: 5vw;
    z-index: 1;
    }
}